[submodule "libuv"]
	path = libuv
	url = ../libuv
	branch = feature/cmake_support
[submodule "zlib"]
	path = zlib
	url = ../zlib
	branch = minimal
[submodule "gtest"]
	path = gtest
	url = ../gtest
	branch = upstream
[submodule "libiconv"]
	path = libiconv
	url = ../libiconv
	branch = master
[submodule "liblua"]
	path = liblua
	url = ../liblua
	branch = master
