# Build results

debug/
release/
x64/
build*/
bin*/
obj*/
internal*/
.kdev4/
.clangd/
.cache/
compile_commands.json

*.ilk
*.exe
*.lib
*.o
*.pdb
*.so*
*.user*
CMakeLists.txt.*
Makefile*
.directory


project*/
releases/
data

# CMake file api directory
/.cmake/

#############
## Windows detritus
#############

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/


RSATests
lsqlite3
openshift-ah
rzplayercount
rzrequester
